.container{
    width: 100%;
    overflow-x: auto;
    position: relative;
}

.waveHeader{
    margin-top: -12rem;
    margin-left: -10rem;
    margin-bottom: -5rem;
}

.waveHistoria{
    margin-bottom: -2rem;
}