.container{
    width: 100%;
    overflow: auto;
    position: relative;
}

.waveHeader{
    height: 60%;  
    margin-top: -12rem;
    margin-left: -10rem;
    margin-bottom: -5rem;
}

.waveHistoria{
    margin-bottom: -2rem;
}