.container{
    width: 100%;
    overflow-x: auto;
    position: relative;
}

.waveHeader {
    margin-top: -9rem;
    margin-left: -40rem;
    margin-bottom: -1rem;
}

.waveHistoria{
    margin-bottom: -2rem;
}

